.background {
    background-color: #F6F5F4;
}

.wrapper {
    .title_courses {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 23px 0;
        border-radius: 14px;
        background: #FFFFFF;
        margin-bottom: 40px;

        .icon {
            background-image: url('./assets/icon.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 28px;
            height: 24px;
        }

        h1 {
            width: 125px;
            height: 26px;
            font: 800 26px Montserrat;
            color: #000000;
        }
    }
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 926px;
    height: 216px;
    border-radius: 14px;
    background: #FFFFFF;
    margin: auto;
    margin-bottom: 40px;

    .image {
        background-repeat: no-repeat;
        background-size: contain;
        width: 337px;
        height: 216px;
        border-radius: 14px 0px 0px 14px;
    }

    .image {
        background-image: url('./assets/JS.png')
    }
/* 
    .image_2 {
        background-image: url('./assets/TS.png')
    }

    .image_3 {
        background-image: url('./assets/JS.png')
    } */

    h1 {
        width: 209px;
        height: 32px;
        font: 600 32px Montserrat;
        color: #000000;
        margin: 0 auto;
    }

    .baseline {
        height: 1px;
        width: 530px;
        background: #E0E0E0;
        margin: 20px 15px 12px 0;
    }

    p {
        width: 516px;
        font: 500 16px Montserrat;
        color: #757575;
    }
}