.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font: 700 16px Montserrat;
    color: #000000;
}

.header .btn_log {
    height: 43px;
    font: 700 16px Montserrat;
    color: #000000;
    background-color: white;
    border-width: 0;
}

.header .btn_sign {
    width: 110px;
    height: 43px;
    padding: 13px 21px;
    border-radius: 14px;
    font: 700 16px Montserrat;
    background-color: #2B788B;
    color: white;
    border-width: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main h5 {
    margin-top: 95px;
    width: 221px;
    height: 16px;
    font: 700 16px Montserrat;
    color: #2B788B;
}

.main h1 {
    margin-top: 24px;
    width: 500px;
    height: 201px;
    font: 800 56px Montserrat;
    color: #000000;
}

.main p {
    margin-top: 30px;
    width: 397px;
    height: 50px;
    font: 600 18px Montserrat;
    color: #757575;
}

.main .student_img {
    background-image: url('./assets/chel.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 740px;
    height: 601px;
    margin-top: 108px;
}

.main button {
    font: 700 16px Montserrat;
    color: #2B788B;
    padding: 14px 22px;
    gap: 19px;
    border-radius: 100px;
    background: #C3DCE3;
    margin-top: 32px;
}

.main .statist {
    width: 163px;
    margin-top: 48px;
}

.main .statist .num {
    display: flex;
    height: 30px;
}

.main .statist .lights_img {
    background-image: url('./assets/Vector.svg');
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main .statist .num p {
    width: 129px;
    font: 700 40px Montserrat;
    color: #000000;
}

.main .statist p {
    font: 600 16px Montserrat;
    margin-left: 46px;
    margin-top: 3px;
}

.section_games {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.section_games .yoga_img {
    background-image: url('./assets/image\ 8.svg');
    width: 580px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section_games .game_kinds {
    padding-top: 30px;
}

.section_games .game_kinds h1 {
    width: 480px;
    height: 96px;
    font: 800 48px Montserrat;
}

.section_games .game_kinds p {
    font: 600 18px Montserrat;
    color: #757575;
    width: 480px;
    height: 50px;
    margin-top: 30px;
}

.section_games .game_kinds .pictures {
    display: flex;
    gap: 21px;
    margin-top: 30px;
}

.section_games .pictures .pic_1 {
    background-image: url('./assets/Group\ 11.svg');
    width: 131px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section_games .pictures .pic_2 {
    background-image: url('./assets/Group\ 10.svg');
    width: 172px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section_practice {
    display: flex;
    height: 500px;
    background: #F6F5F4;
    gap: 25px;
}

.section_practice .div,
.section_statistics .progress {
    margin: auto;
}

.section_practice h1 {
    width: 474px;
    height: 96px;
    font: 800 48px Montserrat;
    margin-bottom: 30px;
}

.section_practice p, 
.section_statistics .progress p {
    font: 600 18px Montserrat;
    width: 397px;
    height: 50px;
    color: #757575;
}

.section_practice button,
.section_statistics button {
    font: 700 16px Montserrat;
    color: #2B788B;
    padding: 14px 22px;
    border-radius: 100px;
    background: #C3DCE3;
    margin-top: 34px;
}

.section_practice .girl_img {
    background-image: url('./assets/image\ 2.svg');
    width: 425px;
    height: 474px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.section_statistics {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.section_statistics .people_img {
    background-image: url('./assets/image\ 1.svg');
    width: 680px;
    height: 409px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.section_statistics .progress h1 {
    width: 474px;
    height: 144px;
    font: 800 48px Montserrat;
    margin-bottom: 30px;
}